.jumbotron {
  padding-top: 7rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/box.png");
}

#projects {
  background-color: #e2edff;
}
section {
  padding-top: 6.5rem;
}
